/* style.css */

/* style for page starts here */
html{
    scroll-behavior: smooth;
}
body {
    background-color: oldlace;
}
#myNavbar {
    float: right;
}
/* style for page ends here */

/*animation for name starts*/
#name {
    animation: mymove 5s infinite;
    color: crimson;
}
@keyframes mymove {
    50% {
        font: 40px bold;
    }
}
/* animation ends here */

/* style for scrollbar starts here */
::-webkit-scrollbar {
    width: 4px;
    background-color: black;
}
::-webkit-scrollbar-thumb {
    border-radius: 800px;
    background-color: crimson;
}
/* style for scrollbar ends here */

/* style used for image, Technical skills, connect me starts here */
.row {
    margin: 4% auto 2% auto;
}
/* style used for image, Technical skills, connect me ends here */

/* image css starts */
.image {
    width: 100%;
    height: 50%;
    margin-top: 1px;
    z-index: -999;
}
.intro {
    padding: 15% 10%;
    font-family: 'Merienda One';
}
/*image ends */

/* about me starts here */
#subheading{
    font-family: 'Merienda One';
    color:#444;
}
#whoim{
    font-family: 'Luxurious Roman';
    font-size: 20px;
}
.cvdown {
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 60px;
    width: 250px;
    height: 50px;
}
.cvdown:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: crimson;
}
.resumedown {
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 30px;
    width: 250px;
    height: 50px;
}
.resumedown:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: crimson;
}
ul {
    list-style-type: none;
}
ul li a {
    color: black;
}
ul li a:hover {
    color: whitesmoke;
    text-decoration: none;
}
/* about me ends here */

/* project section starts */
.card {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 1px solid;
    cursor: pointer;
    background-color: #13161F;
    color: oldlace;
}
.card-title{
    font-family: 'Akaya Telivigala';
    font-size: 30px;
}
.card-link {
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: grey;
    color: #111;
}
h3{
    font-family: 'Akaya Telivigala';    
}
#pillhtml{
    background: linear-gradient(45deg, blue,green);
}
#pillcss{
    background: linear-gradient(55deg, blueviolet,darkcyan);
}
#pilljs{
    background: linear-gradient(65deg, rebeccapurple,purple);
}
#pillboot{
    background: linear-gradient(75deg, hotpink,indianred);
}
#pillpy{
    background: linear-gradient(45deg, tomato,mediumvioletred);
}
.card:hover {
    transform: scale(1.05);
    transition: all ease 0.2s;
}
.heading {
    color: white;
}
.badge {
    margin-left: auto;
}
.badge span {
    background-color: black;
    width: 60px;
    height: 25px;
    padding: 4px;
    margin: 0% 1px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
/*Project section ends here */

/* connect me style starts here */
.content {
    color: white;
    font-family: "Roboto Slab", Sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.8em;
    text-align: center;
    background-color: transparent;
}
.column2 {
    padding: 0px 3px 10px 3px;
}
/* connect me style ends here */

/* footer css starts here */
.foot {
    margin-top: 20px;
    padding: 25px 0;
    background-color: #13161F;
}
.container {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
}
.bottom {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: flex;
    align-items: center;
}
.text {
    text-align: center;
    color: #fff;
}
.text a:hover {
    text-decoration: none;
}
/* footer css ends here */

th{
    font-family: Aclonica;
    font-size: 17px;
}
td{
    font-family: ZCOOL XiaoWei;
    font-size: 20px;
}
